/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
    box-sizing: border-box;
}

#points-added {
    margin: 0 auto;
    width: 30px;
    font-size: 26px;
    overflow: visible !Important;
    color: rgb(0, 82, 152);
    font-weight: 600;
    opacity: 0;
}

body {
    font-family: helvetica, arial, sans-serif;
    margin: 25px;
}

h1 {
    font-weight: bold;
    color: pink;
}

.bold {
    font-weight: bold;
}

p {
    max-width: 600px;
}

form {
    margin-bottom: 25px;
    padding: 15px;
    background-color: cyan;
    display: inline-block;
    width: 100%;
    max-width: 340px;
    border-radius: 3px;
}

input {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 3px;
    font-size: 16px;
}

button {
    font-size: 16px;
    border-radius: 3px;
    background-color: lightgrey;
    border: 1px solid grey;
    box-shadow: 2px 2px teal;
    cursor: pointer;
}

button:hover {
    background-color: yellow;
}

button:active {
    box-shadow: none;
}

li {
    margin-bottom: 5px;
}

footer {
    margin-top: 50px;
    padding-top: 25px;
    border-top: 1px solid lightgrey;
}

footer > a {
    color: #BBBBBB;
}

.nicejob {
    text-decoration: line-through;
}

.ground-tile {
    width: 22px;
    height: 22px;
    float: left;
    background-color: #fff;
    z-index: 9;
    display: block;
}

.x-tile {
    background-color: #000;
    width: 22px;
    height: 22px;
    float: left;
    z-index: 9;
    display: block;
}

.player-tile {
    float: left;
    width: 22px;
    height: 22px;
    background: url(https://cdn.glitch.com/ecb4b1e3-aa81-417d-aae4-748f52be83a9%2FcartIcon.png?1496252686767);
    z-index: 99;
    display: block;
    position: relative;

}

/* .player2-tile{
  float: left;
  width: 22px;
  height: 22px;
  background:url(https://cdn.glitch.com/ecb4b1e3-aa81-417d-aae4-748f52be83a9%2FcartIcon.png?1496252686767);
} */

#myDiv {
    float: none;
    margin: 0 auto;
    width: 419px;
    /*   margin-right: 1px; */

}

#myDiv2 {
    float: left;
    width: 455px;
}

#myDiv3 {
    float: none;
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
}

#player {
    border: 1px solid green;
    padding: 5px;
    position: absolute;
    left: 0;
    right: 0;
    top: 87px;
    text-align: center;
    float: none;
    width: 418px;
    margin: 0 auto;

}

/* #player2{
      float: right;
    border: 1px solid green;
    padding: 5px;
    position: absolute;
    top: 30px;
    right: 30px;
} */
#heading {
    text-align: center;
    display: block;
    width: 912px;
    float: none;
    margin: 0 auto;
    margin-bottom: 40px;
}

#heading h1 {
    text-align: center;
    color: #1eafe5;
    font-size: 42px;
}

.opencart-tile {
    background: url("https://cdn.glitch.com/ecb4b1e3-aa81-417d-aae4-748f52be83a9%2Fopencart.png?1496676797281");
    width: 22px;
    height: 22px;
    float: left;
    z-index: 9;
    display: block;
}

.wordpress-tile {
    background: url("https://cdn.glitch.com/ecb4b1e3-aa81-417d-aae4-748f52be83a9%2Fwp.png?1496676797166");
    width: 22px;
    height: 22px;
    float: left;
    z-index: 9;
    display: block;
}

.woocomerce-tile {
    background: url("https://cdn.glitch.com/ecb4b1e3-aa81-417d-aae4-748f52be83a9%2Fwoo.png?1496676797330");
    width: 22px;
    height: 22px;
    float: left;
    z-index: 9;
    display: block;
}

/* .prestashop{
background: url("https://cdn.glitch.com/ecb4b1e3-aa81-417d-aae4-748f52be83a9%2Fprestashop.png?1496676797411");
width: 22px;
height: 22px;
float: left;
} */
.presta-tile {
    z-index: 9;
    display: block;
    float: left;
    width: 22px;
    height: 22px;
    background: url("https://cdn.glitch.com/ecb4b1e3-aa81-417d-aae4-748f52be83a9%2Fprestashop.png?1496676797411");
}

.drupal-tile {
    background: url("https://cdn.glitch.com/ecb4b1e3-aa81-417d-aae4-748f52be83a9%2Fdrupal.png?1496676797186");
    width: 22px;
    height: 22px;
    float: left;
    z-index: 9;
    display: block;
}

.joomla-tile {
    background: url("https://cdn.glitch.com/ecb4b1e3-aa81-417d-aae4-748f52be83a9%2Fjoomla.png?1496676799241");
    width: 22px;
    height: 22px;
    float: left;
    z-index: 9;
    display: block;
}

.takes-points {
  background-color: red;
    border-radius: 5px;
    border:solid 1px red;
}

.timeBonus-tile{
    background: url("assets/img/clock.png");
    width: 22px;
    height: 22px;
    float: left;
    z-index: 9;
    display: block;
}

.pointsBonus-tile{
    background: url("assets/img/x2.png");
    width: 22px;
    height: 22px;
    float: left;
    z-index: 9;
    display: block;
}

.freeze-tile{
    width: 22px;
    height: 22px;
    float: left;
    z-index: 9;
    display: block;
    background: lightskyblue;
    border-radius: 50%;
}